{% extends 'main/layout.html' %}

{% block title %}
    About_us
{% endblock %}

{% block content %}
    <div class="main_block_content">
        <h2 id="animation_text_main">О нас</h2>
        <div class="block_progress">
            <div class="progress"></div>
        </div>
        <div class="block_scroll">
            <div class="text_about_us">
                <h1>
                    Праздничное агентство<br>
                    Happy Famyli
                </h1>
                <p>
                    Добро пожаловать к профессиональной, творческой и веселой команде по организации
                    невероятно крутых и запоминающихся детских праздников для ваших малышей. Блягодаря
                    нашему опыту и профессионализму праздник вашего ребенка пройдет на 100% ярко и
                    оставит у вас положительные эмоции. Формат самого праздника и его сценарий формируется
                    в зависимости от возраста детей и их предпочтений. Вас ждет качественное шоу с участием
                    профессионального аниматора и интересным сценарием самой программы. В настоящее время
                    мы предлагаем программы длительностю: 30мин, 60мин, 90мин. В программах используется
                    качественный тематический реквизит и качественные костюмы, которые не оставят ранодушными
                    ни детей ни взрослых.
                </p>
                <h1>Наши преимущества</h1>
                <li>
                    Все наши костюмы на все 100% соответствуют фото.
                </li>
                <li>
                    Мы свяжемся с вами за день до мероприятия для подтверждения заказа.
                </li>
                <li>
                    Мы приезжаем за 20-30мин. до начала программы.
                </li>
                <li>
                    Лучшее соотношение цены и качества.
                </li>
                <li>
                    Мы сделаем ваш праздник не забываемым.
                </li>
                <p>
                    С подробным описанием каждого формата детского праздника и стоимостью
                    вы можете ознакомиться в нашем прайсе.
                </p>
            </div>
        </div>
    </div>
{% endblock %}