{% extends 'data_for_project/admin_area.html' %}
{% load static %}
{% block content %}
    <div class="techno_block_content">
        <h2 id="animation_text_main">Добавить новую картинку в галерею!</h2>
        <div class="block_scroll">
            <form class="form_main" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.description }}<br>
                {{ form.img }}<br>
                <input class="form_order" type="datetime-local" name="date_event"><br>
                <!--{{ form.as_p }}-->
                <span>{{ error}}</span>
                <button class="button_review" type="submit">Добавить</button>
                <div class="button_menu"><p><a href="{% url 'admin_area' %}"><b>Вернуться к админке</b></a></p></div>
            </form>
        </div>
    </div>
{% endblock %}