{% extends 'data_for_project/admin_area.html' %}
{% load static %}
{% block content %}
    <div class="main_block_content">
        <h2 id="animation_text_main">Ваш заказ</h2>
        <div class="block_scroll">
            <form class="form_main" method="post">
                <div class="frendly sky_fire">
                    <img class="frendly_img1" src="{% static 'main/img/img_header/sky_fire.png' %}" alt="Лого">
                    <img class="frendly_img2" src="{% static 'main/img/img_header/sky_fire.png' %}" alt="Лого">
                    <img class="frendly_img3" src="{% static 'main/img/img_header/sky_fire.png' %}" alt="Лого">
                    <img class="frendly_img4" src="{% static 'main/img/img_header/sky_fire.png' %}" alt="Лого">
                    <img class="frendly_img5" src="{% static 'main/img/img_header/sky_fire.png' %}" alt="Лого">
                </div>
                <p>Заполните форму для онлайн заказа и наш специалист свяжется с вами!</p>
                {% csrf_token %}
                {{ form.name }}

                {{ form.phone }}
                <br>
                {{ form.number_children }}<br>
                <div class="frendly">
                    <img class="frendly_img" src="{% static 'main/img/img_header/air_balloons.png' %}" alt="Лого">
                    <div>
                        <p>Выведите желаемую дату и время:</p>
                        {{ form.date }}
                        <p>Выберите героя:</p>
                        {{ form.hero }}
                        <p>Выберите длительность программы:</p>
                        {{ form.time }}
                        <span>{{ error}}</span>
                        <br><br><button class="button_order" type="submit">Редактировать</button>
                        <div class="button_menu"><p><a href="{% url 'admin_area' %}"><b>Вернуться к админке</b></a></p></div>
                    </div>
                    <img class="frendly_img" src="{% static 'main/img/img_header/air_balloons.png' %}" alt="Лого">
                </div>
            </form>
        </div>
    </div>
{% endblock %}